body {
  position: relative;
  box-sizing: border-box;
}

.input-control input {
  box-shadow: 0px 4px 4px rgba(15, 23, 42, 0.3);
  border-radius: 4px;
}
.input-control input:focus{
 outline: none;
 transform: translateY(-2px);
 transition: ease-in-out 1s
}

@tailwind base;
@tailwind components;
@tailwind utilities;
